[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
iniconfig = "*"
packaging = "*"
pathspec = "*"
platformdirs = "*"
pluggy = "*"
tomli = "*"
typing-extensions = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-mock = "*"
mypy-extensions = "*"
mypy = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
