[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "*"
attrs = "*"
black = "*"
click = "*"
colorama = "*"
importlib-metadata = "*"
iniconfig = "*"
more-itertools = "*"
mypy-extensions = "*"
packaging = "*"
pathspec = "*"
platformdirs = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
pytest = "*"
pytest-mock = "*"
regex = "*"
six = "*"
toml = "*"
tomli = "*"
typing-extensions = "*"
wcwidth = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
